$fancyColors: (
  light: (
    textColor: black,
    textColorSoft: #777,
    bg: white,
    bgSoft: #f5f5f5,
    logo: chocolate,
    bgLogo: limegreen,
    button: #ff6a00,
    svg: #ff6a00,
    bgSvg: #8ff0ff30,
    border: #acff2f70,
    nav: #acff2f,
    navText: #015764,
    proNav: skyblue,
    searchBorder: greenyellow,
    grayDay: #b8b6b6,
  ),
  dark: (
    textColor: whitesmoke,
    textColorSoft: lightgray,
    bg: #222,
    bgSoft: #333,
    logo: white,
    button: #0e990a,
    svg: #c6ff70,
    bgSvg: #333,
    border: #b5c5065b,
    nav: #befd5f,
    navText: #cbff7e,
    proNav: rgb(0, 183, 255),
    searchBorder: #b5c5065b,
    grayDay: #898989,
  ),
);

@mixin themify($fancyColors) {
  @each $theme, $map in $fancyColors {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($fancyColors, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

