@import "../../style.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #acff2f80, #ee82ee80),
    url("https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      center;
  background-size: cover;
  height: 100vh;

  @include mobile {
    // height: 100%;
  }

  .card {
    display: flex;
    justify-content: center;
    width: 50%;
    background: linear-gradient(100deg, #acff2f47, #ee82ee68);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    min-height: 600px;
    overflow: hidden;

    @include laptop {
      width: 80%;
    }

    @include tablet {
      margin: 20px;
      width: 80%;
    }

    @include mobile {
      margin: 20px;
      flex-direction: column;
      width: 90%;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 50px;
      color: white;
      text-shadow: 1px 1px 1px chocolate;

      @include mobile {
        gap: 0px;
        padding: 0px 20px 0;
      }

      img {
        width: 100%;
        margin-top: 30px;

        @include mobile {
          width: 100px;
          align-self: center;
        }
      }

      span {
        font-size: 14px;

        @include mobile {
          margin-bottom: 3px;
        }
      }

      button {
        width: 150px;
        padding: 10px;
        background-color: white;
        font-weight: bold;
        color: chocolate;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      p {
        font-size: 7px;
        margin-top: -27px;
        margin-left: 3px;
        text-shadow: 1px 1px 1px black;

        @include mobile {
          margin-top: 3px;
        }

        b {
          cursor: pointer;
        }
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      padding-left: 10px;
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: white;
      text-shadow: 1px 1px 1px chocolate;

      @include mobile {
        margin-top: 7px;
        gap: 10px;
        padding: 0 20px 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          color: whitesmoke;
          background: transparent;
          border-bottom: 1px solid greenyellow;
          padding: 13px 10px;
          border-radius: 10px;

          &::placeholder {
            font-size: 16px;
            color: whitesmoke;
          }
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          border-radius: 10px;
          background-color: greenyellow;
          color: chocolate;
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
        }

        h5 {
          display: flex;
          justify-content: flex-end;
          margin-top: -27px;
          margin-right: 13px;
          font-size: 9px;
          cursor: pointer;
        }
      }
    }
  }
}
