@import "../../style.scss";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #acff2f80, #ee82ee80),
    url("https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      center;
  background-size: cover;
  height: 100vh;

  .card {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 50%;
    background: linear-gradient(
      100deg,
      rgba(172, 255, 47, 0.279),
      rgba(238, 130, 238, 0.409)
    );
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    min-height: 600px;
    overflow: hidden;
    
    @include laptop {
      width: 80%;
    }

    @include tablet {
      margin: 20px;
      width: 80%;
    }

    @include mobile {
      margin: 20px;
      flex-direction: column-reverse;
      width: 90%;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 50px;
      padding-left: 10px;
      color: white;
      text-shadow: 1px 1px 1px chocolate;

      @include mobile {
        margin-top: -70px;
        margin-left: 40px;
        gap: 0px;
        padding: 0px 20px 0px 0px;
      }

      img {
        width: 100%;
        margin-top: 30px;

        @include mobile {
          width: 70px;
          align-self: center;
          margin-top: 0;
        }
      }

      span {
        font-size: 14px;

        @include mobile {
          margin-bottom: 3px;
        }
      }

      button {
        width: 50%;
        padding: 10px;
        background-color: white;
        font-weight: bold;
        font-size: 16px;
        color: chocolate;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      p {
        font-size: 7px;
        margin-top: -27px;
        margin-left: 3px;
        text-shadow: 1px 1px 1px black;

        b {
          cursor: pointer;
        }
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: white;
      text-shadow: 1px 1px 1px chocolate;

      @include mobile {
        margin-top: 0px;
        gap: 0px;
        padding: 0 30px 0px 30px;
      }

      h1 {
        @include mobile {
          font-size: 23px;
          margin-left: 3px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          gap: 13px;
        }

        input {
          border: none;
          color: whitesmoke;
          background: transparent;
          border-bottom: 1px solid greenyellow;
          padding: 13px 10px;
          border-radius: 10px;

          
        @include mobile {
          padding: 10px 10px;
        }
        }

        input::placeholder {
          font-size: 16px;
          color: whitesmoke;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          font-size: 16px;
          border-radius: 10px;
          background-color: greenyellow;
          color: rgb(145, 62, 2);
          font-weight: bold;
          cursor: pointer;

          @include mobile {
          font-size: 13px;
          width: 70px;
        }
        }

        h5 {
          display: flex;
          justify-content: flex-end;
          margin-top: -27px;
          margin-right: 13px;
          font-size: 9px;
          cursor: pointer;
        }
      }
    }
  }
}
