@import "../../style.scss";

.stories {
  @include themify($fancyColors) {
    display: flex;
    //   width: 550px;
    //   margin: 0 auto;
    gap: 10px;
    height: 250px;
    margin-bottom: 30px;

    @include tablet {
      height: 150px;
      gap: 20px;
    }

    @include mobile {
      height: 90px;
      margin-bottom: 0;
      justify-content: space-between;
      width: calc(100vw - 30px);
      overflow: scroll;
      margin: 0 auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .story {
      flex: 1;
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      div {
        position: absolute;
        top: 2%;
        left: 3%;

        @include mobile {
          top: 70%;
          left: 0;
          width: 20px;
          height: 20px;
        }
      }

      @include mobile {
        flex: none;
        width: 70px;
        height: 70px;
        border-radius: 20%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-weight: 500;

        @include mobile {
          display: none;
        }
      }

      button {
        position: absolute;
        bottom: 50px;
        left: 10%;
        color: white;
        background: #ff6a00;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 20px;
          height: 20px;
          font-size: 20px;
          left: 1%;
          bottom: 1%;
          margin: auto;
        }
      }
    }
  }
}
